[submodule "experiments/RAM_FR"]
	path = experiments/RAM_FR
	url = https://github.com/ramdarpaprojectorg/RAM_FR.git
[submodule "experiments/RAM_catFR"]
	path = experiments/RAM_catFR
	url = https://github.com/ramdarpaprojectorg/RAM_catFR.git
