configparser
pandas
prompt_toolkit
pytest
pytest-cov
pyzmq
six
tornado
webrtcvad
psutil
-e git+https://github.com/pennmem/wordpool.git@v0.4#egg=wordpool
-e git+https://github.com/mivade/logserver.git#egg=logserver
